# Server Configuration
PORT=3000
BASE_URL=

# TikTok OAuth Configuration
TIKTOK_CLIENT_KEY=
TIKTOK_CLIENT_SECRET=
TIKTOK_REDIRECT_URI=https://domain.vn/callback/tiktok

# LiteLLM Configuration
# 9router LLM Configuration
ROUTER9_BASE_URL=
ROUTER9_API_KEY=
ROUTER9_MODEL=
ROUTER9_PROVIDER=